<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhouss.www.gitlabapp">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.zhouss.www.gitlabapp.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/gitlab"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gitlab"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.THomeActivity" />
        <activity android:name=".activity.TStudentActivity" />
        <activity android:name=".activity.TStudentDetailActivity" />
        <activity android:name=".activity.TTaskDetailActivity" />
        <activity android:name=".activity.TQuestionDetailActivity" />
        <activity android:name=".activity.TTaskScoreActivity" />
    </application>

</manifest>